.filme-info{
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1{
    margin: 14px 0;
}

.filme-info img{
    /* max-width: 800px; */
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;  
}

.area-buttons button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s;
}

.area-buttons button:hover{
    color: #fff;
    background-color: black;
    animation: pulse 2s infinite;
    animation: color-rgb 1s infinite;
}

.area-buttons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-buttons a:hover{
    color: #fff;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes color-rgb{
    0%{
        border: 3px solid red;
        box-shadow: 0px 0px 30px red;
    }

    25%{
        border: 3px solid rgb(255, 238, 0);
        box-shadow: 0px 0px 30px rgb(255, 238, 0);
    }

    50%{
        border: 3px solid rgb(30, 255, 0);
        box-shadow: 0px 0px 30px rgb(30, 255, 0);
    }

    75%{
        border: 3px solid rgb(0,17,255);
        box-shadow: 0px 0px 30px rgb(0,17,255);
    }
    100%{
        border: 3px solid rgb(255,0,255);
        box-shadow: 0px 0px 30px rgb(255,0,255);
    }
}

